@{
    Layout.Title = T("Change Password");
}

<div class="form-change-password">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginFormAntiForgeryPost())
            {
                @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
                <fieldset>
                    <legend>@T("Change Password")</legend>
                    <p class="form-text">@T("Use the form below to change your password.")</p>
                    <p class="form-text">@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>

                    <div class="form-group">
                        @Html.Label("currentPassword", T("Current Password").Text, new { @class = "sr-only" })
                        @Html.Password("currentPassword", "", new { placeholder = T("Current Password"), @class = "form-control" })
                        @Html.ValidationMessage("currentPassword")
                    </div>
                    <div class="form-group">
                        @Html.Label("newPassword", T("New Password").Text, new { @class = "sr-only" })
                        @Html.Password("newPassword", "", new { placeholder = T("New Password"), @class = "form-control" })
                        @Html.ValidationMessage("newPassword")
                    </div>
                    <div class="form-group">
                        @Html.Label("confirmPassword", T("Confirm Password").Text, new { @class = "sr-only" })
                        @Html.Password("confirmPassword", "", new { placeholder = T("Confirm Password"), @class = "form-control" })
                        @Html.ValidationMessage("confirmPassword")
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">@T("Submit")</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>