@{
    Layout.Title = T("Forgot Password");
}

<div class="form-lost-password">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginFormAntiForgeryPost())
            {
                <fieldset>
                    <legend>@T("Forgot Password?")</legend>
                    <p class="form-text">@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
                    <div class="form-group">
                        @Html.Label("username", T("Username or Email").Text, new { @class = "sr-only" })
                        @Html.TextBox("username", "", new { @class = "form-control", placeholder = T("Username or Email") })
                        @Html.ValidationMessage("username")
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">@T("Send Request")</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>